---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ferdinand Weynschenk">
	<div class="flex">
		<div class="">
		<div class="sidebar sm:max-w-xs h-screen sm:bg-blue-200 p-8">
			<h1 class="text-4xl">Ferdinand Weynschenk</h1>
			<h2 class="text-xl">Software Developer</h2>
		</div>
	</div>
		<div class="grow px-20 pt-8">
			<!-- body -->
			<h1 class="text-2xl">Side projects</h1>
			<div class="ps-4">
				<a href="https://fweynschenk.github.io/ppBricks/"
					>Perfect Printable Bricks!</a
				>
			</div>
			<h1 class="text-2xl">Work experience</h1>
			<div class="ps-4">
				<h2 class="text-sm font-bold">hello world</h2>
				<h3 class="font-thin">2017-2020</h3>
			</div>
		</div>
	</div>
</Layout>
