---
---

<!DOCTYPE html>
<html lang="en" class="text-gray-900 bg-gray-100 font-sans">
	<head>
		<link href="index.css" rel="stylesheet" />
	</head>
	<body class="grid">
		<div class="flex">
			<div class="sidebar max-w-xs h-screen bg-blue-200 p-8">
				<h1 class="text-4xl">Ferdinand Weynschenk</h1>
				<h2 class="text-xl">Software Developer</h2>
			</div>
			<div class="grow px-20 pt-8">
				<!-- body -->
				<h1 class="text-2xl">Side projects</h1>
				<div class="ps-4">
					<a href="https://fweynschenk.github.io/ppBricks/"
						>Perfect Printable Bricks!</a
					>
				</div>
				<h1 class="text-2xl">Work experience</h1>
				<div class="ps-4">
					<h2 class="text-sm font-bold">hello world</h2>
					<h3 class="font-thin">2017-2020</h3>
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	/* * {
  outline: 1px solid red;
  outline-offset: -1px;
} */

	.sidebar {
		--mask: conic-gradient(
				from -150deg at right,
				#0000,
				#000 1deg 119deg,
				#0000 120deg
			)
			50%/100% 2.42em;
		-webkit-mask: var(--mask);
		mask: var(--mask);
	}
</style>
